In [7]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [9]:
df=pd.read_csv(r"C:\Users\LAB-USER-01\Desktop\exam\dataset1 - adult.data.csv")

In [11]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [77]:
#Calculate the mean, median, and standard deviation of the "age" and "hours-per-week" columns. What do these values suggest about the distribution of ages and working hours in the dataset?
print(df["age"].mean)
print(df["age"].median)
print(df["age"].mode)

print(df["hours-per-week"].mean)
print(df["hours-per-week"].median)
print(df["hours-per-week"].mode)

<bound method Series.mean of 0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64>
<bound method Series.median of 0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64>
<bound method Series.mode of 0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64>
<bound method Series.mean of 0        40
1        13
2        40
3        40
4        40
         ..
32556    38
32557    40
32558    40
32559    20
32560    40
Name: hours-per-week, Length: 32561, dtype: int64>
<bound method Series.median of 0        40
1        13
2        40
3        40
4        40
         ..
32556    38
32557    40
32558    40
32559    20
32560    40
Name: hours-per-week, Length: 32561, dtype: int64>
<bound method Series.mode of 0        40
1        13
2        40
3        40
4        40
         ..
32556    38
32557    40
32558    40
32559    20
32560    40
Name: hours-per-week, Length: 32561, dtype: int64>

In [64]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [15]:
#How many unique "native-country" values are there in the dataset? Which country has the most individuals represented?
df["native-country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [19]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [21]:
df.head

<bound method NDFrame.head of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>

In [31]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [33]:
df.describe

<bound method NDFrame.describe of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>

In [63]:
#Investigate if there is a significant difference in "hours-per-week" between males and females.
df["sex"].unique()

array(['Male', 'Female'], dtype=object)

In [245]:
sns.scatterplot(x="capital-loss", y="capital-gain")
plt.figure(figsize=(8,6))
plt.show()

ValueError: Could not interpret value `capital-loss` for `x`. Value is a string, but `data` was not passed.

In [ ]:
#dataset2

In [131]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [133]:
df=pd.read_csv(r"C:\Users\LAB-USER-01\Desktop\exam\dataset2.csv")

In [135]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25.0,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0.0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36.0,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0.0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0.0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0.0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25.0,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [137]:
df.head

<bound method NDFrame.head of      State  Account length  Area code International plan Voice mail plan  \
0       KS             128        415                 No             Yes
1       OH             107        415                 No             Yes
2       NJ             137        415                 No              No
3       OH              84        408                Yes              No
4       OK              75        415                Yes              No
...    ...             ...        ...                ...             ...
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
0                      25.0              265.1            110.0
1                      26.0              161.6            123.0
2                       0.0              243.4            114.0
3                       0.0              299.4             71.0
4                       0.0              166.7            113.0
...                     ...                ...              ...
3328                   36.0              156.2             77.0
3329                    0.0              231.1             57.0
3330                    0.0              180.8            109.0
3331                    0.0              213.8            105.0
3332                   25.0              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0                45.07              197.4             99.0             16.78
1                27.47              195.5            103.0             16.62
2                41.38              121.2            110.0             10.30
3                50.90               61.9             88.0              5.26
4                28.34              148.3            122.0             12.61
...                ...                ...              ...               ...
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
0                   244.7                 91               11.01
1                   254.4                103               11.45
2                   162.6                104                7.32
3                   196.9                 89                8.86
4                   186.9                121                8.41
...                   ...                ...                 ...
3328                279.1                 83               12.56
3329                191.3                123                8.61
3330                191.9                 91                8.64
3331                139.2                137                6.26
3332                241.4                 77               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
0                   10.0                 3               2.70
1                   13.7                 3               3.70
2                   12.2                 5               3.29
3                    6.6                 7               1.78
4                   10.1                 3               2.73
...                  ...               ...                ...
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
0                          1      0
1                          1      0
2                          0      0
3                          2      0
4                          3      0
...                      ...    ...
3328                       2      0
3329                       3      0
3330                       2      0
3331                       2      0
3332                       0      0

[3333 rows x 20 columns]>

In [139]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [145]:
# Use the given dataset to build a machine learning model for predicting customer churn ("Churn"). The goal is to predict whether a customer is likely to churn (TRUE) or not (FALSE).
target = "Churn" 
features = [col for col in df.columns if col != target]

In [149]:
print("target:", target)
print("features:", features)

target: Churn
features: ['State', 'Account length', 'Area code', 'International plan', 'Voice mail plan', 'Number vmail messages', 'Total day minutes', 'Total day calls', 'Total day charge', 'Total eve minutes', 'Total eve calls', 'Total eve charge', 'Total night minutes', 'Total night calls', 'Total night charge', 'Total intl minutes', 'Total intl calls', 'Total intl charge', 'Customer service calls']

In [181]:
X = df[features]
y = df[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [205]:
categorical_features = X.select_dtypes(include=["object"]).columns
numerical_features = X.select_dtypes(exclude=["object"]).columns

In [233]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numerical_features),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features),
    ]
)
model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("classifier", RandomForestClassifier(random_state=42))
])